.seccion10 {
    width: 1,440px;
    height: 405.5px;
    top: 5889px;
    padding: 80px 176px 80px 176px;
    border: 2px solid black;
    background-color: #C8A6EF;
}

.cuadro1 {
    width: 1,440px;
    height: 180.5ppx;
    top: 6294px;
    padding: 64px 176px 64px 176px;
    border: 2px solid black;
    background-color: #C8A6EF;
}