header {
    width: 1,440px;
    height: 200px;
}

.nacion {
    width: 1,088px;
    height: 73px;
    padding: 20px 24px 20px 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido {
    width: 980px;
    height: 34px;
    padding: 0px 269.64px 0px 269.64px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenidito {
    width: 248px;
    height: 24.5px;
    font-size: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton {
    width: 170.62px;
    height: 42px;
    top: -4px;
    margin-left: 2px;
    border: 1px solid #A4AAAF;
    background: #EFEFEF;
    border-radius: 10px;

    display: flex;
    justify-content: start;
    align-items: center;
}

.search {
    width: 1,264px;
    height: 40px;
    padding: 0px 0px 0px 1034.22px;
    gap: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search-ico {
    width: 56px;
    height: 34px;
    margin-right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.suport {
    width: 56px;
    height: 34px;
    margin-right: 20px;

    justify-content: space-between;
    align-items: center;
}

.suport span {
    margin-left: 5px;
    display: flex;
    justify-self: center;
    align-self: center;
}

.menu {
    width: 1,440px;
    height: 85px;
    padding: 16px 26.67px 18px 72px;
    

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}

.titulos {
    display: flex;
    justify-self: center;
    align-self: center;
}

.flecha {
    display: flex;
    gap: 10px;
}

.botones {
    width: 403px;
    height: 40.5px;
    gap: 12px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1 {
    width: 205px;
    height: 40.5px;
    background-color: white;
    border: 2px solid black;
    color: black;
    border-radius: 10px;
    font-size: 15px; 
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn2 {
    width: 186px;
    height: 40.5px;
    background-color: #7622D7;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 300;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadro img {
    width: 1440px;
}